body {
  background-color: var(--third);
}
:root {
  --nav:#c3f7d3;
  --primary: #fccde2;
  --secondary: #c5e3f6;
  --third: #fcefee;
  --danger: #acaeff;
  --black: rgb(43, 42, 42);
}
* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav {
  padding: 0 1.5rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: var(--nav);
  position: fixed;
  width: 100%;
  z-index: 100;
}
.site-name {
  padding: 0.5rem 0;
  font-size: 2rem;
  font-weight: bold;
}
nav ul {
  list-style: none;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav img{
  width: 26px;
}
nav button{
  border: none;
  background-color: transparent;
}
nav ul li {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
nav ul li::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 13px;
  left: 0;
  transition: 0.4s;
}
nav ul li:hover::before {
  width: 100%;
}
