body {
  background-color: var(--third);
}
:root {
  --nav:#c3f7d3;
  --primary: #fccde2;
  --secondary: #c5e3f6;
  --third: #fcefee;
  --danger: #acaeff;
  --black: rgb(43, 42, 42);
}
* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav {
  padding: 0 1.5rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: var(--nav);
  position: fixed;
  width: 100%;
  z-index: 100;
}
.site-name {
  padding: 0.5rem 0;
  font-size: 2rem;
  font-weight: bold;
}
nav ul {
  list-style: none;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav img{
  width: 26px;
}
nav button{
  border: none;
  background-color: transparent;
}
nav .first-ul li {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
nav .first-ul li::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 13px;
  left: 0;
  transition: 0.4s;
}
nav ul li:hover::before {
  width: 100%;
}
.nav-btns{
  display: flex;
  align-items: center;
  gap: 20px;
}
.menu{
  display: none;
}
.toggle-menu{
  position: absolute;
  border-radius: 10px;
  right: 1rem;
  top: 3rem;
  height: 0;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.open{
  height:160px;
}
.second-ul{
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}
@media (max-width:700px) {
  .site-name{
    font-size: 1.5rem;
  }
  nav button img{
    width: 20px;
  }
}
@media (max-width:600px) {
  .first-ul  {
    display: none;
  }
  .menu{
    display: block;
  }
}
@media (max-width:440px) {
  .site-name{
    font-size: 1.3rem;
  }
  nav{
    padding: 0px 10px;
  }
  nav .first-ul li{
    font-size: 12px;
  }
  nav button img{
    width: 18px;
  }
}
