body {
  background: linear-gradient(to right, rgb(101, 78, 163), rgb(234, 175, 200));
}
:root {
  --primary: #fccde2;
  --secondary: #c5e3f6;
  --third: #fcefee;
  --danger: #574b90;
  --black: rgb(43, 42, 42);
}
* {
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav {
  padding: 0 1.5rem;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  background-color: var(--primary);
  position: fixed;
  width: 100%;
  z-index: 100;
}
.site-name {
  padding: 0.5rem 0;
  font-size: 2rem;
  font-weight: bold;
}
nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
nav ul {
  list-style: none;
}
nav ul {
  display: flex;
  gap: 20px;
}
nav ul li a {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}
nav ul li a::before {
  content: "";
  background-color: black;
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 13px;
  left: 0;
  transition: 0.4s;
}
nav ul li a:hover::before {
  width: 100%;
}
